@import "../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
button {
    margin: 10px;
}

input {
    border: none;
    height: 42px;
    width: 100%;
    font-size: 20px;
}

input:focus {
    outline: none;
}