<mat-card id="main-container">
    <mat-card id="form-container">
        <div class="mat-title">Account Number*</div>
        <input type="text" matInput required (keyup)="onAccountKeyUp($event)" id="account-number" placeholder="Please enter your Account Number here.." />
        <mat-divider></mat-divider>
        <button color="primary" mat-raised-button (click)="getAccountData($event)">Go</button>

    </mat-card>


    <mat-card id="offer-container">
        <mat-tab-group>
            <mat-tab label="ACTIVE">
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="activeOffers" class="mat-elevation-z8">
                    <ng-container matColumnDef="offerName">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Offer Name</th>
                        <mat-divider></mat-divider>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">{{ curOffer.GameTheme }}</td>
                    </ng-container>

                    <ng-container matColumnDef="expiredOn">
                        <th mat-header-cell *matHeaderCellDef class="odd-column"> Expires On</th>
                        <td mat-cell *matCellDef="let curOffer" class="odd-column">
                            {{ curOffer.expiredDateFormat }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="clickToView">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Click to view details</th>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">
                            <img [src]="curOffer.gameImageUrl" />
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="COMPLETED">
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="completedOffers" class="mat-elevation-z8">
                    <ng-container matColumnDef="offerName">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Offer Name</th>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">{{ curOffer.GameTheme }}</td>
                    </ng-container>

                    <ng-container matColumnDef="expiredOn">
                        <th mat-header-cell *matHeaderCellDef class="odd-column">Expires On</th>
                        <td mat-cell *matCellDef="let curOffer" class="odd-column">
                            {{ curOffer.expiredDateFormat }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="clickToView">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Click to view details</th>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">
                            <img [src]="curOffer.gameImageUrl" />
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="REDEEMED">
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="redeemedOffers" class="mat-elevation-z8">
                    <ng-container matColumnDef="offerName">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Offer Name</th>
                        <mat-divider></mat-divider>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">{{ curOffer.GameTheme }}</td>
                    </ng-container>

                    <ng-container matColumnDef="expiredOn">
                        <th mat-header-cell *matHeaderCellDef class="odd-column">Expires On</th>
                        <td mat-cell *matCellDef="let curOffer" class="odd-column">
                            {{ curOffer.expiredDateFormat }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="clickToView">
                        <th mat-header-cell *matHeaderCellDef class="even-column">Click to view details</th>
                        <td mat-cell *matCellDef="let curOffer" class="even-column">
                            <img [src]="curOffer.gameImageUrl" />
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-tab>
            <mat-tab label="EXPIRED">
                <mat-divider></mat-divider>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="expiredOffers">
                        <ng-container matColumnDef="offerName">
                            <th mat-header-cell *matHeaderCellDef class="even-column">Offer Name</th>
                            <td mat-cell *matCellDef="let curOffer" class="even-column">{{ curOffer.GameTheme }}</td>
                        </ng-container>

                        <ng-container matColumnDef="expiredOn">
                            <th mat-header-cell *matHeaderCellDef class="odd-column">Expires On</th>
                            <td mat-cell *matCellDef="let curOffer" class="odd-column">
                                {{ curOffer.expiredDateFormat }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="clickToView">
                            <th mat-header-cell *matHeaderCellDef class="even-column">Click to view details</th>
                            <td mat-cell *matCellDef="let curOffer" class="even-column">
                                <img [src]="curOffer.gameImageUrl" />
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>

</mat-card>